<section class="contact" id="contactame">
    <div class="container contact-grid">
        <div class="contact-form">
            <h2 class="contact-title floating-title">CONTACTAME</h2>

            <form>
                <input type="text" placeholder="Nombre" class="input-field">
                <textarea placeholder="Asunto" class="textarea-field"></textarea>
                <div class="button-container">
                    <button type="submit" class="btn-send">ENVIAR</button>
                </div>
            </form>

            <div class="contact-info-container">
                <div class="contact-text social-links">
                    <p class="name"><strong>Leidy Garavito Paez</strong></p>
                    <p class="social-item"><img src="assets/img/whatsapp 1.png" alt="">+57 302 3274192</p>
                    <p class="social-item"><img src="assets/img/email 1.png" alt="">Leidy16paez@gmail.com</p>
                </div>
                <div class="contact-logo">
                    <img src="assets/img/LP 1.png" alt="LGP Logo"> </div>
            </div>
        </div>

        <div class="contact-illustration">
            <img src="assets/img/ilustracion1.png" alt="Ilustración">
        </div>
    </div>
    <div>
        <hr class="line">
        <p class="stack-text">Derechos reservados @ 2026</p>
    </div>
</section>
