<section class="hero" id="home">
    <div class="parallax-wrapper">
        <img src="assets/img/Proyectos.png" alt="Proyectos Leidy Paez" class="parallax-img">
    </div>
</section>
<section>
    <div class="proyectos-info">
    <p class="intro-text">
        Aquí puedes apreciar, los diferentes costos de cada
        uno de los productos que ofrezco
    </p>

    <div class="botones-categorias">
        <button class="btn-azul">DISEÑO WEB</button>
        <button class="btn-naranja">DESARROLLO WEB</button>
        <button class="btn-verde">IDENTIDAD CORPORATIVA</button>
    </div>

    <h2 class="frase-proyecto">
        Cada proyecto tiene su historia. 
        <span class="resaltado-rosa">La diseñé,</span> 
        la construyo y la convierto en una experiencia digital
        <span class="resaltado-rosa">funcional.</span>
    </h2>
</div>
</section>
