:root {
    --purple-bg: #b7b4f4;
    --white: #ffffff;
    --black: #000000;
    --pink: #FDB3C5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    overflow-x: hidden;
}

/* --- CONTENEDOR MORADO SUPERIOR --- */
.top-section {
    background-color: var(--purple-bg);
    position: relative;
    transition: background-color 0.3s ease;
}

/* Color especial para Proyectos */
.navbar-rosa {
  background-color: #FDB3C5 !important; /* El rosa exacto de tu diseño */
}

.border {
    margin: 0px 20px 0px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5%;
    color: var(--black);
    font-weight: bold;
}

.navbar nav a {
    text-decoration: none;
    color: var(--white);
    margin-left: 20px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}
